.todayDate, .date, .row{
    text-align: center;
}

.mat-raised-button{
    background-color: #007bff;
    color: #fff;
}

.visits {
    padding-bottom: 15px;
}

.data {
    text-align: right;
}

.buttons {
    text-align: left;
}