<main role="main">
  <div class="jumbotron">
    <div class="container">
      <div class="jumbotron">
        <div class="container">
           <h1 class="display-3">Opieka stomatologiczna</h1>
            <p>Gabinet stomatogiczny zapewniający wysokiej klasy opiekę i leczenie.</p>
            <p><a class="btn btn-primary btn-lg" role="button" routerLink="/doctors">Zobacz listę lekarzy &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Elektroniczna karta pacjenta</h2>
        <p>Wchodząc na swój profil jesteś w stanie przejrzeć swoją kartę pacjenta. Miły i przyjemny sposób przeglądu ostatnich wizyt i zabiegów.</p>
        <p>
          <a class="btn btn-secondary" role="button" routerLink="/profile">Zobacz szczegóły &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Zdalna rejestracja</h2>
        <p>Na tej stronie jesteś w stanie zdalnie zarejestrować się do swojego stomatologa. Masz wtedy pewność, że twoja wizyta się odbędzie.</p>
        <p>
          <a class="btn btn-secondary" routerLink="/doctors" role="button">Zobacz szczegóły &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Stomatolodzy</h2>
        <p>Lista stomatologów aktualnie pracujących w gabinecie oraz opis ich specjalizacji. Możliwość późniejszej rejestracji.</p>
        <p>
          <a class="btn btn-secondary" routerLink="/doctors" role="button">Zobacz szczegóły &raquo;</a>
        </p>
      </div>
    </div>
  
  
  
  